<div>
	<nav>
		<input id="nav-toggle" type="checkbox" />
		<div class="logo"><strong>N</strong>orthEast</div>
		<ul class="links">
			<li>
				<a href="/home">Home
					<i class="bx bx-home"></i></a>
			</li>
			<li>
				<a href="/Services">Service
					<i class="bx bx-wrench"></i></a>
			</li>
			<li>
				<a href="/Products">Product
					<i class="bx bx-store-alt"></i></a>
			</li>
			<li>
				<a href="/CART">Booking
					<i class="bx bx-cart"></i></a>
			</li>
			<li>
				<a href="/transactions">Transactions
					<i class="bx bx-book-bookmark"></i></a>
			</li>
			<li>
				<a href="/Notification">Notification
					<i class="bx bx-notification"></i></a>
			</li>
			<li>
				<a href="/Feedback">Feedback
					<i class="bx bx-like"></i></a>
			</li>
			<li>
				<a href="/">Log Out
					<i class="bx bx-log-in-circle"></i></a>
			</li>
		</ul>
		<label for="nav-toggle" class="icon-burger">
			<div class="line"></div>
			<div class="line"></div>
			<div class="line"></div>
		</label>
	</nav>
	<div class="transactionMain">
		<div class="titleService">
			<h1>Your Transacions</h1>

		</div>
		<div class="Tablemanage2">

			<div class="table-container2">
				<h1 class="tableHeading2"></h1>
				<table id="data" class="table2">
					<thead id="head2">
						<tr>
							<th>Full Name</th>
							<th>Car Mileage</th>
							<th>Contact Number</th>
							<th>Service</th>
							<th>Other Service</th>
							<th>Car Model</th>
							<th>Date</th>
							<th>Time</th>
							<th>Total Service Time</th>
							<th>Status</th>
						</tr>
					</thead>

					<tbody>
						{{#each resData}}
							<tr>
								<td data-lable2="Full Name" name="FullName">{{{FullName}}}</td>
								<td
									data-lable2="Car Mileage"
									name="CarMileage"
								>{{{CarMileage}}}</td>
								<td
									data-lable2="Contact Number"
									name="ContactNumber"
								>{{{ContactNumber}}}</td>
								<td data-lable2="Service" name="Services">{{{services}}}</td>
								<td data-lable2="otherService" name="otherService">{{{otherService}}}</td>
								<td
									data-lable="Car Model"
									name="CarandModel"
								>{{{CarandModel}}}</td>
								<td data-lable2="Day" name="Day">{{{ScheduleDate}}}</td>
								<td data-lable2="Time" name="Time">{{{time}}}</td>
								<td
									data-lable=2"Total Time Duration"
									name="Duration"
								>{{{duration}}}</td>
								<td data-lable2="Status" class="status"><a class="status">{{{RequestType}}}</a></td>
							</tr>
						{{/each}}
					</tbody>
				</table>
			</div>

		</div>
	</div>

</div>