<div>
	<nav>
		<input id="nav-toggle" type="checkbox" />
		<div class="logo"><strong>N</strong>orthEast</div>
		<ul class="links">
			<li>
				<a href="http://localhost:8282/home">Home
					<i class="bx bx-home"></i></a>
			</li>
			<li>
				<a href="http://localhost:8282/Services">Service
					<i class="bx bx-wrench"></i></a>
			</li>
			<li>
				<a href="http://localhost:8282/Products">Product
					<i class="bx bx-store-alt"></i></a>
			</li>
			<li>
				<a href="http://localhost:8282/CART">Cart
					<i class="bx bx-cart"></i></a>
			</li>
			<li>
				<a href="http://localhost:8282/transactions">Transacions
					<i class="bx bx-book-bookmark"></i></a>
			</li>
			<li>
				<a href="http://localhost:8282/Notification">Notification
					<i class="bx bx-notification"></i></a>
			</li>
			<li>
				<a href="http://localhost:8282/Feedback">Feedback
					<i class="bx bx-like"></i></a>
			</li>
			<li>
				<a href="http://localhost:8282/Login">Log Out
					<i class="bx bx-log-in-circle"></i></a>
			</li>
		</ul>
		<label for="nav-toggle" class="icon-burger">
			<div class="line"></div>
			<div class="line"></div>
			<div class="line"></div>
		</label>
	</nav>

	<div class="cartMain">
		<div class="titleService">
			<h1>Your Service Cart</h1>
		</div>

		<div class="cartBox">

			<div class="Tablemanage">

				<div class="table-container">
					<h1 class="tableHeading"></h1>
					<table id="data" class="table">
						<thead id="head">
							<tr>
								<th>Image</th>
								<th>Service Name</th>
								<th>Time</th>
								<th>Remove Button</th>
							</tr>
						</thead>

						<tbody>
							{{#each resData.data}}
								<tr>
									<td data-lable="Image" name="Image"><img
											src="{{{serviceImage}}}"
											alt=""
											height="80px"
											width="80px"
										/></td>
									<td
										data-lable="ServiceName"
										name="ServiceName"
									>{{{serviceName}}}</td>
									<td data-lable="Time" name="Time">{{{serviceTime}}}</td>
									<td data-lable="remove" name="remove">
										<form onsubmit="return removeCart(event)">
											<input class="removeCart" type="submit" value="Remove" />
											<input type="hidden" value="{{{_id}}}" name="id" />
										</form>
									</td>
								</tr>
							{{/each}}
						</tbody>
					</table>
				</div>

				<div class="subTotal">
					<label for="">Expected Time of Completion :
						<span id="duration">{{{data}}}</span>
					</label>
					<a href="http://localhost:8282/Booking">Proceed To Booking</a>
				</div>

			</div>

		</div>
	</div>
</div>