<div>
	<nav>
		<div class="logo">
			NorthEast
		</div>
		<ul>
			<li>
				<a href="http://localhost:8282/home"><p>Home</p>
					<i class="bx bx-home"></i>
				</a>
			</li>
			<li>
				<a href="http://localhost:8282/Services">
					<p>Service</p>
					<i class="bx bx-wrench"></i></a>
			</li>
			<li>
				<a href="http://localhost:8282/Products"><p>Product</p>
					<i class="bx bx-store-alt"></i>
				</a>
			</li>
			<li>
				<a href="http://localhost:8282/CART"><p>Cart</p>
					<i class="bx bx-cart"></i>
				</a>
			</li>
			<li>
				<a href="http://localhost:8282/Notification"><p>Notification</p>
					<i class="bx bx-bell"></i></a>
			</li>
			<li>
				<a href="http://localhost:8282/Feedback"><p>Feedback</p>
					<i class="bx bxs-like"></i></a>
			</li>
			<li>
				<a href="http://localhost:8282/Login"><p>Log Out</p>
					<i class="fad fa-sign-out-alt"></i></a>
			</li>

		</ul>
	</nav>

	<div class="cartMain">
		<div class="titleProduct">
			<h1>Your Service Cart</h1>
		</div>

		<div class="cartBox">

			<div class="Tablemanage">

				<div class="col">
					<div class="table-container">
						<h1 class="tableHeading"></h1>
						<table
							id="data"
							class="table table-striped table-bordered"
							style="width:100%"
						>
							<thead>
								<tr>
									<th>Image</th>
									<th>Service Name</th>
									<th>Time</th>
									<th>Remove</th>
								</tr>
							</thead>

							<tbody>
								{{#each resData.data}}
									<tr>
										<td data-lable="Image" name="Image"><img
												src="{{{serviceImage}}}"
												alt=""
												height="80px"
												width="80px"
											/></td>
										<td
											data-lable="ServiceName"
											name="ServiceName"
										>{{{serviceName}}}</td>
										<td data-lable="Time" name="Time">{{{serviceTime}}}</td>
										<td data-lable="remove" name="remove">
											<form onsubmit="return removeCart(event)">
												<input
													class="removeCart"
													type="submit"
													value="Remove"
												/>
												<input type="hidden" value="{{{_id}}}" name="id" />
											</form>
										</td>

									</tr>
								{{/each}}
							</tbody>
						</table>
					</div>

					<div class="subTotal">
						<label for="">Total Time Duration:
							<span id="duration">{{{data}}}</span>
						</label>
						<a href="http://localhost:8282/Booking">Proceed To Booking</a>
					</div>
				</div>

			</div>

		</div>
	</div>
</div>