<div>
	<div class="main">
		<nav>
			<input id="nav-toggle" type="checkbox" />
			<div class="logo"><img src="/assets/images/finalLogo.png" alt="" /></div>
			<ul class="links">
				<li>
					<a href="http://localhost:8282/Admin/Home">Dashboard<i
							class="bx bx-home"
						></i></a>
				</li>
				<li>
					<a href="http://localhost:8282/Admin/services">Service
						<i class="bx bx-wrench"></i></a>
				</li>
				<li>
					<a href="http://localhost:8282/Admin/products">Product
						<i class="bx bx-store-alt"></i></a>
				</li>
				<li>
					<a href="http://localhost:8282/Admin/request">Request
						<i class="bx bx-envelope"></i></a>
				</li>
				<li>
					<a href="http://localhost:8282/Admin/Schedules">Schedules<i
							class="bx bx-book-bookmark"
						></i></a>
				</li>
				<li>
					<a href="http://localhost:8282/Admin/useraccounts">Accounts
						<i class="bx bxs-user-circle"></i></a>
				</li>
				<li>
					<a href="http://localhost:8282/Admin/archive">Archive
						<i class="bx bxs-archive"></i></a>
				</li>
				<li>
					<a href="http://localhost:8282/Login">Log Out
						<i class="bx bx-log-in-circle"></i></a>
				</li>
			</ul>
			<label for="nav-toggle" class="icon-burger">
				<div class="line"></div>
				<div class="line"></div>
				<div class="line"></div>
			</label>
		</nav>

		<div class="servicescontainer">

			<div class="searchProducts">
				<div class="ServiceWebTitle">
					<h1>Services</h1>
				</div>

				<a href="http://localhost:8282/admin/addService" class="add">+Add
					Service</a>
			</div>

			<div class="wrapperGrid">
				{{#each resData.data}}
					<div class="containerServ">
						<h1 class="name" name>{{{Servicename}}}</h1>
						<div class="imghero">
							<img
								src="{{{Image}}}"
								alt=""
								class="serviceImage"
								style="height: 250px; width:250px"
							/>
						</div>
						<p class="serviceTime">{{{Time}}}</p>
						<div class="functionBtns">
							<form
								class="addImageform"
								id="UpdateServices"
								method="GET"
								onsubmit="return GetService(event)"
							>

								<input
									class="editBtn"
									id="myButton_{{{_id}}}"
									type="button"
									value="Edit"
									onClick="return GetModal(event)"
									data-arg1="{{{_id}}}"
								/>
								<input type="hidden" value="{{{_id}}}" name="idOne" />
							</form>
							<!-- The Modal -->
							<form
								action="/admin/Updateservice"
								method="POST"
								enctype="multipart/form-data"
							>
								<div id="modal_{{{_id}}}" class="modal">
									<!-- Modal content -->
									<div class="modal-content">
										<span class="close">&times;</span>
										<div class="updateinputs">
											<div class="addimageContainerUpdate">
												<h1 class="titlena">Update Service</h1>

												<label for="">Select Image File</label>
												<input
													class="chooseFile"
													type="file"
													id="ImageFile"
													name="image_service"
												/>
												<input
													class="servicetext"
													type="text"
													id="Servicename"
													name="Servicename"
													placeholder="{{{Servicename}}}"
													required
												/>
												<input
													class="servicetext"
													type="text"
													id="Time"
													name="Time"
													placeholder="{{{Time}}}"
													required
												/>

												<input
													type="submit"
													value="Confirm"
													id="submitService"
												/>
												<input
													type="hidden"
													value="{{{_id}}}"
													name="Service_id"
													id="ServiceID"
												/>

											</div>
										</div>
									</div>
								</div>
							</form>
						</div>

						<div class="functionBtns1">
							<form
								action=""
								class="Form5"
								onsubmit="return Deletedetails(event)"
							>
								<input class="deleteBtn" type="submit" value="Delete" />
								<input type="hidden" value="{{{_id}}}" name="id" />
							</form>
						</div>
					</div>
				{{/each}}
			</div>
		</div>
	</div>
</div>