<div>
	<div class="main">
		<nav>
			<input id="nav-toggle" type="checkbox" />
			<div class="logo"><img src="/assets/images/finalLogo.png" alt="" /></div>
			<ul class="links">
				<li>
					<a href="/Admin/Home">Dashboard<i class="bx bx-home"></i></a>
				</li>
				<li>
					<a href="/Admin/services">Service
						<i class="bx bx-wrench"></i></a>
				</li>
				<li>
					<a href="/Admin/products">Product
						<i class="bx bx-store-alt"></i></a>
				</li>
				<li>
					<a href="/Admin/request">Request
						<i class="bx bx-envelope"></i></a>
				</li>
				<li>
					<a href="/Admin/Schedules">Schedules<i
							class="bx bx-book-bookmark"
						></i></a>
				</li>
				<li>
					<a href="/Admin/useraccounts">Accounts
						<i class="bx bxs-user-circle"></i></a>
				</li>
				<li>
					<a href="/Admin/archive">Archive
						<i class="bx bxs-archive"></i></a>
				</li>
				<li>
					<a href="/">Log Out
						<i class="bx bx-log-in-circle"></i></a>
				</li>
			</ul>
			<label for="nav-toggle" class="icon-burger">
				<div class="line"></div>
				<div class="line"></div>
				<div class="line"></div>
			</label>
		</nav>
		<div class="Tablemanage">
			<h3 class="fs-4 mb-3">Schedules</h3>
			<div class="col">
				<div class="table-container">
					<h1 class="tableHeading"></h1>
					<table
						id="data"
						class="table table-striped table-bordered"
						style="width:100%"
					>
						<thead>
							<tr>
								<th>Full Name</th>
								<th>Car Mileage</th>
								<th>Contact Number</th>
								<th>Service</th>
								<th>Other Service</th>
								<th>Car Model</th>
								<th>Date</th>
								<th>Time</th>
								<th>Expected Time</th>
								<th>Buttons</th>
								<th></th>
							</tr>
						</thead>

						<tbody>
							{{#each resData}}
								<tr>
									<td data-lable="Full Name" name="FullName">{{{FullName}}}</td>
									{{!-- <td data-lable='Gender' name='Gender'>{{{Gender}}}</td>
                  <td data-lable='Age' name='Age'>{{{Age}}}</td> --}}
									<td
										data-lable="Car Mileage"
										name="CarMileage"
									>{{{CarMileage}}}</td>
									<td
										data-lable="Contact Number"
										name="ContactNumber"
									>{{{ContactNumber}}}</td>
									<td data-lable="Service" name="Services">{{{services}}}</td>
									<td
										data-lable="otherService"
										name="otherService"
									>{{{otherService}}}</td>
									<td
										data-lable="Car Model"
										name="CarandModel"
									>{{{CarandModel}}}</td>
									<td data-lable="Day" name="Day">{{{ScheduleDate}}}</td>
									<td data-lable="Time" name="Time">{{{time}}}</td>
									<td
										data-lable="Total Time Duration"
										name="Duration"
									>{{{duration}}}</td>
									<td data-lable="Done">
										<form action="" onsubmit="return Donerequest(event)">
											<input class="tblBTN1" type="submit" value="Done" />
											<input type="hidden" value="{{{_id}}}" name="id" />
										</form>
									</td>
									<td data-lable="Cancelled">
										<form action="" onsubmit="return Cancelledrequest(event)">
											<input class="tblBTN2" type="submit" value="Cancelled" />
											<input type="hidden" value="{{{_id}}}" name="id" />
										</form>
									</td>
								</tr>
							{{/each}}
						</tbody>
					</table>
				</div>
			</div>
		</div>

	</div>
</div>